h1, h2{
    color:rgb(255, 255, 255);
    background-color: rgb(7, 7, 88);
}
img{
    width: 200px;
    margin-top: 20px;
}
body{
    text-align: center;
    background-color: blue;
}
.cartao{
    background-color: rgb(109, 15, 12);
    width: 500px;
    margin: auto;
    border-radius: 50px;
    border-style: solid;
    border-color: black;
}